API_ID = 33698024
API_HASH = d5379b95f8dad366bd8455d5109f0532
BOT_TOKEN = 8921555945:AAHLCXtvjASHUVNBjbgR9um8g9RflsgNlds
LOGGER_ID = -1003506211723
MONGO_DB_URI =mongodb+srv://nobita10:nobita10@cluster0.53xsdyw.mongodb.net/?appName=Cluster0
OWNER_ID =8602292971
STRING_SESSION = AQICMOgAVRVQPTC66J8Pkc49WtGLbyvFuq_x9Du6fCiFh0N2Z9vETvKbWyoHxmvXnC624r9h-qxJSrT3Y-DdxtkAck_7_QConBeo-DO6_B1lSQn9ikAEDwVZFowHv38_q8dX-9S68Ibfk3i95KATXahI85mohZMhEv2lATuyojKiJ-6UdIfmH-nYc_4vBz-t5ei51ryEb9OM8_xdj9AjTfLLFwMPKxQwpGDEDATKWITxZSKzS1lzo4-QAYm1ou5OuGJZ_UkdM-dy-HO2NhCCI4TqIOs1CItE_vaew_TVPUyYMgaxGEDT8nbuN_EOE277IgDtXxGMda0XmJWGMlnwRqmbkSMKWgAAAAILebeUAA
